/.buildpath
/.cache
/.metadata
/.project
/.settings
/.vscode
atlassian*
/nbproject
/robots.txt
/phpserver/*
/bin/*
/pub/robots.txt
/sitemap
/opcache
/cm_redis_tools
/mydb
/composer-setup.php
/composer.phar
/app/etc/vendor_path.php
/node_modules
/sitemap.xml
/pub/sitemap
/pub/sitemap.xml
/pub/media/exported_images
/pub/media/catalogv6
/pub/media/harriswebworks
/.idea
/pub/media/tools
/pub/media/custom_quote_request
/.gitattributes
/app/config_sandbox
/app/etc/env.php
/app/code/Magento/TestModule*
/lib/*
/setup
/pub.zip
/pub/media/files/*
/dev/*
/.grunt
/update/*
#/Gruntfile.js
/package.json
/.php_cs
/.php_cs.cache
#/grunt-config.json
/pub/media/*.*
!/pub/media/.htaccess
/pub/media/attribute/*
!/pub/media/attribute/.htaccess
/pub/media/analytics/*
/pub/media/catalog/*
/pub/media/docshare/*
/pub/media/distributorportals/*
/pub/media/assets/*
/pub/media/featuredliterature/*
!/pub/media/catalog/.htaccess
/pub/media/customer/*
!/pub/media/customer/.htaccess
/pub/media/downloadable/*
!/pub/media/downloadable/.htaccess
/pub/media/favicon/*
/pub/media/import/*
!/pub/media/import/.htaccess
/pub/media/logo/*
/pub/media/theme/*
/pub/media/theme_customization/*
!/pub/media/theme_customization/.htaccess
/pub/media/pdf/*
/pub/media/wysiwyg/*
!/pub/media/wysiwyg/.htaccess
/pub/media/tmp/*
!/pub/media/tmp/.htaccess
/pub/media/captcha/*
/pub/static/*
!/pub/static/.htaccess
/*.sample
/var/*
/*.sql
/*.zip
/*.csv
!/var/.htaccess
/vendor/*
!/vendor/.htaccess
!/vendor/harriswebworks/mage2-mocks/
/generated/*
!/generated/.htaccess
.DS_Store
auth.json
/ignore
/composer.lock
/app/code/Magehit
/customers_data/*
/pub/*.log

/pub/media/mageworx
/app/design/frontend/Harriswebworks/boundless/nbproject/private/
