.wrapper_slider .owl .owl-item {
    float: left;
}
.wrapper_slider .owl-loaded, .wrapper_slider .owl-carousel {
    overflow: hidden;
    position: relative;
}
.wrapper_slider .owl-nav button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
}
.wrapper_slider .owl-nav button:active{
    box-shadow: none;
}
.wrapper_slider button.owl-prev {
    left: 0;
}
.wrapper_slider button.owl-next {
    right: 0;
}
.wrapper_slider .banner_item {
    position: relative;
}
.wrapper_slider .banner_item img {
    height: 510px;
    background-size: cover;
    background-position: center;
    width: 100%;
}

.wrapper_slider .banner_item .banner_content{
    position: absolute;
    left: 0;
    top:50%;
    transform: translateY(-50%);
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-style: normal;
    text-align: left;
    text-decoration: none;
    text-transform: capitalize;
    color: #fff;
    display: block;
    border-radius: 0;
    text-shadow: 2px 2px 0 rgba(0,0,0,0.3);
    display: block;
    width: auto;
    padding: 0 8%;
}


.wrapper_slider .banner_item h1,
.wrapper_slider .banner_item h2,
.wrapper_slider .banner_item h3,
.wrapper_slider .banner_item h4,
.wrapper_slider .banner_item h5,
.wrapper_slider .banner_item h6{
    font-weight: 700;
    text-shadow: 2px 2px 0 rgba(0,0,0,0.3);
    margin-bottom: 15px;
}
.wrapper_slider .banner_item h1{
    font-size: 36px;
    line-height: 40px;
}
.wrapper_slider .banner_item h2{
    font-size: 30px;
    line-height: 46px;
}
.wrapper_slider .banner_item h3{
    font-size: 26px;
    line-height: 30px;
}
.wrapper_slider .banner_item h4{
    font-size: 24px;
    line-height: 30px;
}
.wrapper_slider .banner_item h5{
    font-size: 22px;
    line-height: 26px;
}
.wrapper_slider .banner_item h6{
    font-size: 20px;
    line-height: 24px;
}
.wrapper_slider .banner_item p{
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.1);
}

.wrapper_slider .banner_item p a{
    margin-top: 20px;
    display: inline-block;
    background: #827839;
    padding: 10px 20px;
    color: #fff;
    font-weight: 700;
    transition: .3s;
    font-size: 20px;
    line-height: 1;
}

.wrapper_slider .banner_item p a:hover{
    text-decoration: none;
    background: #AF9B60;
}

.wrapper_slider button.owl-dot,
.wrapper_slider .owl-nav button{
    box-shadow: none;
}

.owl-nav.disabled {
    display: none;
}
.wrapper_slider .owl-nav button img {
    max-height: 50px;
}
.wrapper_slider .owl-dots {
    text-align: center;
}
.wrapper_slider button.owl-dot {
    background: transparent;
    border: 0;
    padding: 5px;
}
.wrapper_slider button.owl-dot span {
    background: transparent;
    border-radius: 20px;
    height: 12px;
    width: 12px;
    display: block;
    border-radius: 20px;
    border: 2px solid #fff;
}
.wrapper_slider button.owl-dot.active span {
    opacity: 1;
    background: #fff;
}
.wrapper_slider .owl-dots {
    text-align: center;
    margin-top: -50px;
    position: absolute;
    z-index: 99999;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}
.wrapper_slider button.owl-dot {
    background: transparent;
    border: 0;
    padding: 5px;
}
.wrapper_slider .owl-nav button:hover {
    background: transparent !important;
    opacity: 0.9;
}


@media only screen and (max-width: 767px) {

    .banner-slider .wrapper_slider .owl-nav button img {
        max-height: 25px;
    }
    .banner-slider .wrapper_slider .owl-nav button{
        padding: 7px 5px;
    }
    picture.mobile + picture.desktop{
        display: none;
    }
}


@media only screen and (min-width: 768px) {

    picture.desktop{
        display: block;
    }
    picture.mobile{
        display: none;
    }
    .wrapper_slider .banner_item .banner_content{
        padding: 0 20%;
        /*max-width: 650px;*/
    }

}




